.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherSubDiv {
  padding-left: 30px;
}

.messagesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 15%;
}